@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
/* ==== RESETS ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #f8f9fa;
  display: inline-block;
}
/* ==== GENERAL STYLES ==== */
body {
  font-family: "Rubik", sans-serif;
  background-color: #343a40;
  color: #f8f9fa;
  /* font-family: "Space Grotesk", sans-serif; */
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 120rem;
  padding-inline: 20px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  object-fit: cover;
}
.my-name,
.skills,
.projects {
  text-align: center;
}
.hero-description {
  margin-top: 16px;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
.display--flex {
  display: flex;
  justify-content: center;
}
.clearfix {
  clear: both;
}

/* ==== FONTS ==== */
.hero-description,
.project-description,
a:link.cta-btn {
  font-size: 1.6rem;
}
.heading-primary {
  font-size: 2.8rem;
}

/* ==== MARGINS ==== */
.project-description,
.project1,
.project2,
.project3 {
  margin-top: 24px;
}
.hero-text,
.cta-btn,
.heading-secondary {
  margin-top: 32px;
}
.skills-container,
.projects-container {
  margin-top: 35px;
}
.hero,
.skills,
.projects {
  margin-top: 64px;
}
.project-img,
.project-name {
  margin-bottom: 12px;
}
.skill1,
.skill2,
.skill3,
.project1,
.project2,
.project3,
.project-links,
.project-description {
  margin-bottom: 30px;
}

/* ==== HEADER SECTION ==== */
.header {
  margin-top: 30px;
}
.my-name {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.ul-header {
  margin-top: 25px;
  font-size: 1.8rem;
}
ion-icon {
  font-size: 2.5rem;
  color: #f8f9fa;
}
/* ==== HERO SECTION ==== */

.hero-image {
  filter: grayscale(1);
  opacity: 70%;
  border-radius: 7px;
}
a:link.cta-btn {
  padding: 12px 24px;
  border: 1px solid #adb5bd;
  border-radius: 7px;
  font-weight: 400;
  display: inline-block;
}
a:link.btn-cv,
a:visited.btn-cv {
  background-color: #f8f9fa;
  color: #212529;
  margin-right: 16px;
}
/* ==== SKILLS SECTION ==== */
.heading-secondary {
  font-size: 2.4rem;
}
.heading-tertiary {
  font-size: 1.8rem;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.skills-description {
  font-size: 1.4rem;
}
/* ==== PROJECTS SECTION ==== */

.project-name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.9rem;
}
.project-language {
  font-size: 1.4rem;
  margin-right: 6px;
}
.project-description {
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.projects-container {
  margin-top: 0;
}
.projects .heading-tertiary {
  margin-top: 35px;
  margin-bottom: 12px;
}
.project1,
.project2,
.project3 {
  margin-top: 0;
}
a:link.view-project,
a:link.view-code {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: 1.6rem;
  border-bottom: 2px solid #f8f9fa;
}
/* ==== FOOTER SECTION ==== */
.footer {
  background-color: #212529;
  padding: 30px;
}
@media (min-width: 31.28em/*~ 700px*/) {
  .heading-primary {
    font-size: 3.2rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .ul-header {
    margin-top: 0;
  }
  .hero-image {
    float: right;
    width: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .skills-container,
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero {
    column-gap: 13px;
    align-items: center;
  }
  .projects-container {
    column-gap: 26px;
  }
  /* =================================== */
}
@media (min-width: 62em /* ~992px */) {
  .heading-primary {
    font-size: 4.8rem;
  }
  .heading-secondary {
    font-size: 4.2rem;
  }
  .hero-description {
    font-size: 1.8rem;
  }
  .skills,
  .projects {
    text-align: revert;
  }

  .skills ion-icon {
    font-size: 3.2rem;
  }
  .heading-tertiary {
    font-size: 3.2rem;
    font-weight: 400;
  }
  .skills-description {
    font-size: 1.8rem;
  }
}
